<div class="container">
  <h4 class="text-center">Observables</h4>
  <hr />

  <div class="row">
    <div class="col-md-7">
      <h4 class="mb-5">🛡️<u>Types of Operator</u></h4>
      <!-- *--------------------------------------------------* -->

      <!-- this div is for the creation operators -->
      <div class="mb-4" style="margin-left:3%">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title">Creation operator</h4>
            <p class="card-text">
              <b>creaation operator </b>in RxJS are used to create observables
              from various data sources or event. They provide a way to start
              and manage observable streams.
            </p>
            <button class="btn btn-primary" (click)="callOf('creation')">
              creation 👉
            </button>
          </div>
        </div>
      </div>

      <!-- *--------------------------------------------------* -->
      <!-- this div is for the creation operators -->
      <div class="mb-4" style="margin-left:3%">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h4 class="card-title">Filtering operator</h4>
            <p class="card-text">
              <b>filtering operator </b>in RxJS are used to filter the unwanted
              data and create a new observables stream that only includes the
              values that meet the specified criteria.
            </p>
            <button class="btn btn-primary" (click)="callOf('filter')">
              creation 👉
            </button>
          </div>
        </div>
      </div>
      <!-- *--------------------------------------------------* -->
    </div>

    <!-- *--------------------------------------------------* -->

    <div class="col-md-5 st">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
