<div class="container">
  <h4 class="text-center">Observables</h4>
  <hr />
  <h4 class="mb-5">🪄<u>Types of Operator</u></h4>
  <div class="row">
    <!-- *--------------------------------------------------* -->

    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h4 class="card-title">Creation operator</h4>
          <p class="card-text">
            <b>creaation operator </b>in RxJS are used to create observables
            from various data sources or event. They provide a way to start and
            manage observable streams.
          </p>
          <button class="btn btn-primary">of operator👉</button>
        </div>
      </div>
    </div>
    <!-- *--------------------------------------------------* -->

    <div class="col-md-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
