<div class="container">
  <h4 class="mb-5">🫧 <u>Creation operators</u></h4>
  <div class="row">
    <!-- **********  card for the of operator ********** -->
    <!-- this is for the of operator -->
    <div class="card mb-4" style="width: 18rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">of operator</h4>
          <p class="card-text">
            <b>of</b> operator is a creation operator used to create an
            observable that emit a sequence of values that you provided as arg.
            this operator accept the single or collection
          </p>
          <button class="btn btn-primary" (click)="ofOperator()">
            of operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
    <!-- **********  card for the from operator ********** -->
    <!-- this is for the from operator -->
    <div class="card mb-4" style="width: 18rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">from operator</h4>
          <p class="card-text">
            <b>from</b> operator Creates an Observable from an Array, an
            array-like object, a Promise, an iterable object, or an
            Observable-like object.
          </p>
          <button class="btn btn-primary" (click)="fromOperator()">
            from operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->

    <!-- **********  card for the from operator ********** -->
    <!-- this is for the from operator -->
    <div class="card mb-4" style="width: 18rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">fromEvent operator</h4>
          <p class="card-text">
            <b>fromEvent</b> operator is a creation operator that allows you to
            convert DOM events or other event sources into observables.
          </p>
          <button
            class="btn btn-primary"
            #fromEvent
            (click)="fromEventOperator()"
          >
            from operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
  </div>
</div>
