<div class="container">
  <h4 class="mb-5">🫧 <u>Creation operators</u></h4>
  <div class="row">
    <!-- **********  card for the of operator ********** -->

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h4 class="card-title">of operator</h4>
        <p class="card-text">
          <b>of</b> operator is a creation operator used to create an observable
          that emit a sequence of values that you provided as arg.
        </p>
        <button class="btn btn-primary" (click)="ofOperator()">
          of operator👉
        </button>
      </div>
    </div>
  </div>
</div>
