<div class="card" style="width: 24rem;">
  <div class="card-body">
    <h5 class="card-title">User 2</h5>
    <p class="card-text mb-3">
      this sending the data to the subject observable in the service from the
      component 2.
    </p>
    <div>
      <input
        type="text"
        name="username"
        id=""
        class="form-control mb-2"
        placeholder="enter the username"
        #user2
      />
    </div>
    <button class="btn btn-primary" (click)="changeUser(user2)">
      send data
    </button>
  </div>
</div>
