<div class="container">
  <h4 class="mb-5">🫧 <u>Mathematical operators</u></h4>
  <div class="row">
    <!-- **********  card for the map operator ********** -->
    <!-- this is for the map operator -->
    <div class="card mb-4" style="width: 24rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">map operator</h4>
          <p class="card-text">
            <b>map</b> operator that applies a given function to each value
            emitted by an observable and emits the result of that function.
            <br />
          </p>
          <button class="btn btn-primary" (click)="mapOperator()">
            map operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
    <!-- **********  card for the mapTo operator ********** -->
    <!-- this is for the mapTo operator -->
    <div class="card mb-4" style="width: 24rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">mapTo operator</h4>
          <p class="card-text">
            <b>mapTo</b> operator that applies a given function to each value
            emitted by an observable and emits the result of that function.
            <br />
          </p>
          <button class="btn btn-primary" (click)="mapToOperator()">
            mapTo operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
    <!-- **********  card for the mergeMap operator ********** -->
    <!-- this is for the mergeMap operator -->
    <div class="card mb-4" style="width: 24rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">mergeMap operator</h4>
          <p class="card-text">
            <b>mergeMap</b> operator that applies a given function to each value
            emitted by an observable and emits the result of that function.
            <br />
          </p>
          <button class="btn btn-primary" (click)="mergeMapOperator()">
            mergeMap operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
    <!-- this is for the switchMap operator -->
    <div class="card mb-4" style="width: 24rem;">
      <div>
        <div class="card-body">
          <h4 class="card-title">switchMap operator</h4>
          <p class="card-text">
            <b>switchMap</b> operator is higher-order mapping operator that
            project each value emitted by the source observable, when A new
            value is emitted by the source observble,
            <b>switchMap</b> automatically unsubscribe from the previouse inner
            observable and subscribe to the new inner observable, effectively
            'switching' to the latest inner observable
            <br />
          </p>
          <button class="btn btn-primary" (click)="switchMapOperator()" #switch>
            switchMap operator👉
          </button>
        </div>
      </div>
    </div>
    <!-- *********************************************** -->
  </div>
</div>
